
<div class="ui inverted vertical center aligned segment p-b">
  <div class="ui text container top-header">
    <i class="dashboard icon huge"></i>
    <h2 class="ui inverted header m-t-0 m-b-0">
      AGENT ASSESSMENT
    </h2><!-- /.ui inverted header -->
    <h5 class="m-t-0">Powered by <%= white_labeled_company_name(current_subdomain) %></h5>
  </div><!-- /.ui text container top-header -->
</div><!-- /.ui inverted vertical masthead center aligned segment -->
