<div class="ui tab transition fade in active" id="first-page" data-tab="first-page">
  <div class="ui main container full-width-container">
    <div class="ui vertical basic segment">
      <div class="ui center aligned stackable grid container">
        <div class="row">
          <div class="twelve wide column">
            <h1 class="ui header">
              <div class="content">
                Welcome to the <%= white_labeled_company_name(current_subdomain) %> Agent Assessment.
                <div class="sub header">
                  You're here because you're ready to elevate your business. We help guide agents toward which areas they can and should improve, in order to increase their production and reach their potential.
                </div><!-- /.sub header -->
              </div><!-- /.content -->
            </h1>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </div><!-- /.ui center aligned grid container -->
    </div><!-- /.ui vertical basic segment -->

    <div class="ui vertical basic segment">
      <div class="ui center aligned stackable grid container">
        <div class="nine wide column">
          <h4>Here's how it works:</h4>
          <div class="ui left aligned padded segment">
            <h3 class="ui header">
              <i class="blue hourglass half icon"></i>
              <div class="content">
                It should take about 10 minutes
              </div><!-- /.content -->
            </h3><!-- /.ui header -->
            <h3 class="ui header">
              <i class="black settings icon"></i>
              <div class="content">
                You'll answer some questions about your marketing and service systems and habits
              </div><!-- /.content -->
            </h3><!-- /.ui header -->
            <h3 class="ui header">
              <i class="green money icon"></i>
              <div class="content">
                We'll break down and calculate your production goals
              </div><!-- /.content -->
            </h3><!-- /.ui header -->
            <h3 class="ui header">
              <i class="yellow file text outline icon"></i>
              <div class="content">
                When you're finished, you'll receive a comprehensive report on your business
              </div><!-- /.content -->
            </h3><!-- /.ui header -->
          </div><!-- /.ui segment -->
        </div><!-- /.column -->
      </div><!-- /.ui center aligned grid container -->
    </div><!-- /.ui vertical basic segment -->

    <div class="ui vertical basic segment">
      <div class="ui center aligned stackable grid container">
        <div class="ten wide column">
          <h4>Here's a quick snapshot of what you'll receive:</h4>
          <%= image_tag("assessment-preview.gif", class: "ui centered rounded big image") %>
        </div><!-- /.ten wide column -->
      </div><!-- /.ui center aligned stackable grid container -->
    </div><!-- /.ui vertical basic segment -->


    <div class="ui basic center aligned segment">
      <div class="horizontal divider"></div><!-- /.horizontal divider -->
      <h1>Ready? Let's get started.</h1>
      <div class="horizontal divider"></div><!-- /.horizontal divider -->
      <h3>I consider myself a:</h3>
      <div class="ui huge buttons">
        <div class="ui button" data-tab-open="second-page">New Agent</div>
        <div class="or"></div>
        <div class="ui positive button" data-tab-open="second-page">Experienced Agent</div>
      </div><!-- /.ui buttons -->
    </div><!-- /.ui segment -->
  </div><!-- /.ui main container -->
</div><!-- /.ui segment tab -->
