<div class="four wide column hide-mobile-and-down">
  <div class="ui vertical fluid steps m-y">
    <div class="active step" data-ui-behavior="tab" data-tab="agent-info">
      <div class="content">
        <div class="title">Agent Info</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="branding-info" >
      <div class="content">
        <div class="title">Branding</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="contacts-info">
      <div class="content">
        <div class="title">Contacts</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="personal-marketing-info">
      <div class="content">
        <div class="title">Personal Marketing</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="mass-marketing-info">
      <div class="content">
        <div class="title">Mass Marketing</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="lead-generation-info">
      <div class="content">
        <div class="title">Lead Generation</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="service-clients-info">
      <div class="content">
        <div class="title">Service Clients</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="goal-setting">
      <div class="content">
        <div class="title">Goal Setting</div>
      </div>
    </div>
    <div class="step" data-ui-behavior="tab" data-tab="current-year-progress">
      <div class="content">
        <div class="title">Current Year Progress</div>
      </div>
    </div>
  </div>
</div><!-- /.column -->
