<div class="ui modal" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true" data-ui-behavior="modal">
  <div data-behavior="insert-form"></div>
</div>

<div class="ui small modal" id="smallModal" tabindex="-1" role="dialog" data-ui-behavior="small-modal">
  <div data-behavior="insert-form"></div>
</div>

<div class="ui tiny modal" id="tinyModal" tabindex="-1" role="dialog" data-ui-behavior="tiny-modal">
  <div data-behavior="insert-form"></div>
</div>
