<div data-behavior="full-report" data-survey-token="<%= @survey_result.survey_token %>">
  <div class="ui vertical basic segment">
    <div class="ui page active dimmer">
      <div class="ui massive indeterminate text loader">Processing results...</div>
    </div>
  </div>
</div>
