<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<%= render(partial: "layouts/google_tag_manager_noscript") %>

<% content_for(:body_class, "ux-layout ios-variant") %>

<div class="page-contents">
  <%= render("shared/flashes") %>
  <!-- <div class="ui container breadcrumbs-container p-t"> -->
    <%#= show_breadcrumbs %>
  <!-- </div> --><!-- /.ui container -->
  <%= yield %>
  <%= render(partial: "shared/layout/footer") %>
</div><!-- /.page-contents -->

<% parent_layout "base_phone" %>
