<div data-introjs-step="details">
  <table class="ui basic table index-page-table">
    <%= render(partial: "contacts/table/head", locals: { contacts: contacts }) %>
    <%= render(partial: "contacts/table/body", locals: { contacts: contacts }) %>
    <%= render(partial: "contacts/table/foot", locals: { contacts: contacts }) %>
  </table>
</div>
