<thead class="hide-mobile-and-down">
  <tr>
    <th class="no-sort collapsing">
      <div class="ui fitted checkbox" data-ui-behavior="select-all-checkbox-popover" data-variation="inverted">
        <input type="checkbox" id="items-checkbox-select-all">
        <label></label>
      </div>
    </th>
    <th class="no-sort collapsing"></th>
    <th class="">Name</th>
    <th class="collapsing">Grade</th>
    <th class="">Group</th>
    <th class="collapsing">Last Contact</th>
    <th class="no-sort">Phone</th>
  </tr>
</thead>
