<div data-behavior="gauge-meter" class="GaugeMeter main-gauge" id="PreviewGaugeMeter_2" data-percent="<%= score_percentage %>" data-size="250" data-back="RGBa(0,0,0,.1)" data-animate_gauge_colors="1" data-animate_text_colors="1" data-width="10" data-style="Arch" data-label_color="#FFF"></div>
