<% full_width_mobile = true if local_assigns[:full_width_mobile].nil? %>
<table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="<%= full_width_mobile ? "mcnTextContentContainer" : "mcnTextContentContainerHalf" %>" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
<tbody><tr>
<td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 16px;line-height: 100%;text-align: left;">

  <%= body %>

</td>
</tr>
</tbody>
</table>