<div class="field">
  <div class="ui fluid search selection dropdown" data-behavior="search-recipients" data-email-campaign-id="<%= @email_campaign.id %>">
    <input name="preview_recipient" type="hidden">
    <div class="default text">Recipient:</div>
  </div>
</div>
