<div class="time">
  <span class="time_only"><time data-format="%l:%M%P" data-local="time" datetime="2014-11-21T16:35:49Z" title="November 21, 2014 at 11:35am EST" data-localized="true"><%= just_time(activity.created_at) %></time></span>
  <span class="time_ago"><time data-local="time-or-date" datetime="2014-11-21T16:35:49Z" title="November 21, 2014 at 11:35am EST"><%= display_quick_datetime(activity.created_at) %></time></span>
</div><!-- /.time -->