<%= link_to(
  task_path(id: activity.trackable_id),
  class: "activity-task activity-task-completed"
) do %>
  <div class="activity-task__checkbox-label">
    <i class="checkmark icon"></i>
    <!-- <span class="activity-task__checkbox-button"></span> -->
  </div>
  <span class="activity-task__checkbox-content"><%= human_activity_name(activity) %></span>
<% end %>
