<div class="header">
  <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
</div><!-- /header -->

<div class="content">
  <%= render partial: "/calendar/event_form", locals: { presenter: presenter } %>
</div>


