<h2 class="ui header">
  <span class="team-only">My Tasks</span><span class="solo-only">Tasks</span>
  <%= link_to(
    "Add",
    open_task_modal_path,
    class: "ui basic right floated button",
    remote: true,
    data: { toggle: "modal", target: "#mainModal" }
  ) %>
</h2>

<h5 class="ui dividing header">Today</h5>
<%= render(
  partial: "tasks/tasks",
  locals: {
    tasks: @dashboard_presenter.todays_and_overdue_tasks,
    tasks_list_section: "today",
    article_class: "show-buckets"
  }
) %>

<h5 class="ui dividing header">Upcoming</span></h5>
<%= render(
  partial: "tasks/tasks",
  locals: {
    tasks: @dashboard_presenter.upcoming_tasks,
    tasks_list_section: "upcoming",
    article_class: "show-buckets"
  }
) %>

<% if @dashboard_presenter.more_tasks %>
  <%= link_to("See more tasks", tasks_path) %>
<% end %>
