<div class="ui main container full-width-container">
  <div class="ui stackable grid">
    <div class="row left aligned p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Branding
              <div class="sub header m-y-sm">
                Having a consistent, professional presence is crucial to expanding your business.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->
          </div><!-- /.ui basic vertical segment -->

          <div class="ui three doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Testimonial
                  <div class="right floated extra content">
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="dashboard icon thumbs up big"></i>
                </div>
                <div class="description">
                  Testimonials let your reputation speak for itself.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn best way to ask for a Testimonial</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Pro Headshot
                  <div class="right floated extra content">
                  </div>
                </div>
              </div>
              <div class="content center aligned">
                <div class="meta">
                  <i class="camera icon yellow huge"></i>
                </div>
                <div class="description">
                  A crisp headshot that reflects how you look builds trust and communicates your professionalism.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn about Great Headshots</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Updated Bio
                  <div class="right floated extra content">
                  </div>
                </div>
              </div>
              <div class="content center aligned">
                <div class="meta">
                  <i class="newspaper icon orange huge"></i>
                </div>
                <div class="description">
                  Having an up-to-date BIO builds confidence that you're an active agent, committed to the business and up-to-date on market trends.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn how to write a great Bio</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Published Website
                  <div class="right floated extra content">
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="world icon blue huge"></i>
                </div>
                <div class="description">
                  A website presence helps prove your credibility in the market..
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Find out what type of Website you need</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Online Profiles
                  <div class="right floated extra content">
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="id card outline icon blue huge"></i>
                </div>
                <div class="description">
                  Having an Online Profile that is consistent across social media, broker and 3rd party sites such as Zillow & Trulia builds confidence in your Brand.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn about 'Best Practice' for Online Profiles</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.column -->
</div><!-- /.row -->
