
<div class="ui main container full-width-container">
  <div class="ui stackable grid">
    <div class="row left aligned p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Branding
              <div class="sub header m-y-sm">
                Having a consistent, professional presence is crucial to expanding your business.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->
          </div><!-- /.ui basic vertical segment -->

          <div class="ui five doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Testimonial
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="dashboard icon thumbs up big"></i>
                </div>
                <div class="description">
                  Testimonials let your reputation speak for itself.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Send Email to request Testimonials</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Pro Headshot
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content center aligned">
                <div class="meta">
                  <i class="camera icon yellow huge"></i>
                </div>
                <div class="description">
                  A crisp headshot that reflects how you look builds trust and communicates your professionalism.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add a Task to get Headshot</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Updated Bio
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content center aligned">
                <div class="meta">
                  <i class="newspaper icon orange huge"></i>
                </div>
                <div class="description">
                  Having an up-to-date BIO builds confidence that you're an active agent, committed to the business and up-to-date on market trends.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add a Task to update Bio</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Published Website
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="world icon blue huge"></i>
                </div>
                <div class="description">
                  A website presence helps prove your credibility in the market..
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add a Task to build a Website</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Online Profiles
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="id card outline icon blue huge"></i>
                </div>
                <div class="description">
                  Having an Online Profile that is consistent across social media, broker and 3rd party sites such as Zillow & Trulia builds confidence in your Brand.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add Task to Update Online Profiles</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Managing Relationships and Database Management
              <div class="sub header m-y-sm">
                Your database of contacts and relationships is the foundation of every successful agent's business.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->
          </div><!-- /.ui basic vertical segment -->
          <div class="ui five doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Contact Management
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="address book outline icon icon green huge"></i>
                </div>
                <div class="description">
                   Building and maintaining a Contacts Dbase is core to success. Did you know that successful Agents get more than 80% of their business from Referrals?
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Import Contacts</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div>
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Community Development
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="child icon green huge"></i>
                </div>
                <div class="description">
                  Local networking contributes to good causes, great for building career skills and has the benefit to get your name known in the community.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Watch 'How to' Video</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Group Contacts
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="users icon yellow huge"></i>
                </div>
                <div class="description">
                  Using groups to segment your Contacts allows you to send targeted messages quickly to reach the right people at the right time.ts
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Group Contacts</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Ranking Contacts
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="sort content descending icon orange huge"></i>
                </div>
                <div class="description">
                  Some Contacts are more relevant to building your Business. Having your Contacts ranked enables you to prioritize and spend time with your most important Contacts.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Sort Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Service Providers
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="wrench icon blue huge"></i>
                </div>
                <div class="description">
                  Having a list of Handyman and local Service Providers allows you to provide value to your Contacts and Clients when it is needed most.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add Leads</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row aligned p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Relationship and Mass Marketing
              <div class="sub header m-y-sm">
                The consistent communication with your database has the highest return on investment of any activity an agent can do. Modern agents are leveraging technology to expand their audience, as well as track what is working best.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->

          </div><!-- /.ui basic vertical segment -->
          <div class="ui four doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Track Referrals
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="paw icon green huge"></i>
                </div>
                <div class="description">
                  Tracking Referrals enables you to review what sources are best to invest your time in going forward. Be sure to send 'thank you' notes.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Let's go!</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Contact Size
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="maximize icon yellow huge"></i>
                </div>
                <div class="description">
                  Having a healthy sized dbase is the foundation to building a Referral based Real Estate business. Referral based Leads are 2x more likely to become a 'closed' sale!
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn Ways to Build Contacts</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Past Clients
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="history icon orange huge"></i>
                </div>
                <div class="description">
                  Keeping in touch with Past Clients can be a great Lead generator. Remember you helped them sell or buy successfully - be sure to stay in touch.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Send Email Campaign Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Personal Marketing
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="refresh icon blue huge"></i>
                </div>
                <div class="description">
                  Building your brand through personal marketing requires scheduling time daily and/weekly to reach out to your Contacts dbase.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Suggested Marketing Activities</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
           <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Email Marketing
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="write icon green huge"></i>
                </div>
                <div class="description">
                  Consistently keeping in touch with your Contacts, Clients and Business Partners with useful and relevant Email Drip Campaigns builds your Brand and reputation as a professional Real Estate Agent.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Send Email Campaign Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Print Campaigns
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="print icon yellow huge"></i>
                </div>
                <div class="description">
                  Print Marketing, while not as popular as it used to be, can still be effective to build your Brand.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Print Labels Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Area Farming
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="share alternate icon orange huge"></i>
                </div>
                <div class="description">
                  Sending "Just Sold" and "Just Listed" postcards is a great way to market your skills. Potential Clients are interested in local Market activity.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Send Email Campaign Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Social Media
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="facebook square icon blue huge"></i>
                </div>
                <div class="description">
                  Social Media is all about building awareness. Most important, be consistent at the right pace - too much or not enough is ineffective and could be damaging.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Show me how to set up my Facebook Page</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row aligned p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Lead Response and Conversion
              <div class="sub header m-y-sm">
                Responding to leads quickly and professionally will dramatically improve your conversion rates.  Automate the process of followup, reminders, retargeting and email campaigns.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->

          </div><!-- /.ui basic vertical segment -->

          <div class="ui six doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Immediate Response
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="hourglass start icon green huge"></i>
                </div>
                <div class="description">
                  Quick and consistently responding to Leads immediately (and within 5 minutes or less) increases your chances of converting the Client by 72%.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Automatic Lead Import
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="cloud download icon yellow huge"></i>
                </div>
                <div class="description">
                  Start managing your Leads immediately to build confidence, repoire and professionalism.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Review my Imports</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Lead Source Analysis
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="line chart icon orange huge"></i>
                </div>
                <div class="description">
                  Tracking and analyzing your Leads enables you to prioritize your Advertising spend and your time to your best Marketing Channels.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Review Report</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Lead Retargeting
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="refresh icon blue huge"></i>
                </div>
                <div class="description">
                  Buying a house is one of life's biggest investments. An initial lead may turn cold - be sure to keep them on a drip campaign. Keeping in touch enables you to stay top-of-mind when they are ready to make a move forward.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Follow Up
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="checked calendar start icon yellow huge"></i>
                </div>
                <div class="description">
                  Long Term Prospects are Leads or Clients that expressed an interest but due to circumstances, they need to wait. Be sure to have a system in place to keep in touch.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add Leads</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Prospect Materials
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="file pdf outline icon icon green huge"></i>
                </div>
                <div class="description">
                  Having a system to capture and action Client details through the life of the transaction enables you to move quickly and offer a consistent and professional service.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              Service Management
              <div class="sub header m-y-sm">
                Present clear expectations and deliver responsive service to your clients, and they'll be more likely to recommend and refer you to others.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->

          </div><!-- /.ui basic vertical segment -->

          <div class="ui four doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Listing Prep Plan
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned ">
                  <i class="dashboard icon green huge"></i>
                </div>
                <div class="description">
                  Managing expectations requires establishing and agreeing to a listing plan - both what you will and will not do with deadlines, reporting and marketing.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Service Reports
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="tasks icon yellow huge"></i>
                </div>
                <div class="description">
                  Service Reports are a true sign of professionalism. It allows you to show your Client the effort that you are doing and that their plan to sell their house is actively being managed.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Seller Communication
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="map signs icon orange huge"></i>
                </div>
                <div class="description">
                  Clients expect that you are working for them. While a house may take some time to sell, it is important to keep your Clients up-to-date on your efforts. Regular reporting allows you to be in constant communication - a big factor in Client satisfaction.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Create Task Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Buyer Communication
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned ">
                  <i class="street view icon blue huge"></i>
                </div>
                <div class="description">
                  Buyers have a goal - to find the house of their dreams! Be sure to show as much enthusiasm to help them find their home - send them home options and local information frequently.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add Daily Reminder</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row p-t-0">
      <div class="column">
        <div class="ui positive message">
          <div class="ui basic vertical segment">
            <h1 class="ui dividing header">
              General Management
              <div class="sub header m-y-sm">
                Managing every stage of your pipeline will keep it flowing steadily, overcoming the ups and downs of the seasonal real estate market.
              </div><!-- /.sub header -->
            </h1><!-- /.ui dividing header -->

          </div><!-- /.ui basic vertical segment -->

          <div class="ui four doubling stackable cards">
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Client Management
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="handshake icon green huge"></i>
                </div>
                <div class="description">
                  Having a system to capture and action Client details through the life of the transaction enables you to move quickly and offer a consistent and professional service.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Learn More</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Manage Client Pipeline
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="sort content descending counterclockwise rotated icon yellow huge"></i>
                </div>
                <div class="description">
                  Actively reviewing your Sales Pipeline ensures you keep focused on the results. What do you need to do to get the transaction to a successful close? Be sure to set an action. Remember... 'baby steps'.
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Add Weekly Review</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                  Daily Task Management
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="checkmark box icon orange huge"></i>
                </div>
                <div class="description">
                  Being an Agent requires great multi-taksing skills. Be sure to have a system in place that enables you to have a 'next action' on all your Leads and Clients .
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Set Next Actions Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
            <div class="ui raised card">
              <div class="content">
                <div class="header">
                   Set Goals
                  <div class="right floated extra content">
                    <i class="help circle big icon"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="meta center aligned">
                  <i class="dashboard icon blue huge"></i>
                </div>
                <div class="description">
                  Goal-setting is scientifically proven to improve performance and achievement. Take aim with your big annual goal, then break it all the way down into daily and weekly tasks to hit the bullseye!
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Review Goals Now</div>
                  <div class="ui basic button">Remind Me Later</div>
                </div>
              </div>
            </div><!-- /.card -->
          </div><!-- /.ui cards -->
        </div><!-- /.ui message -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.column -->
</div><!-- /.row -->
