<div class="ui masthead vertical segment">
  <div class="ui container full-width-container">
    <div class="ui horizontal no-border segments">
      <div class="ui basic segment">
        <div class="introduction" id="lead-header" data-introjs-step="step321">
          <div id="header-info" data-introjs-step="step320">
            <div class="ui very basic left floated compact segment p-a-0">
              <img class="ui  tiny image" src="https://agentbright-staging.s3.amazonaws.com/uploads/image/file/2918/staticmap.png" alt="Staticmap">
            </div><!-- /.ui very basic left floated compact segment p-a-0 -->
            <h1 class="ui header">
              <div class="content">
                <div class="sub header">Seller Client</div>
                Beth Boring
                <div class="sub header"><span class="fwb">Email:</span> beth.boring.agentbright@gmail.com</div>
                <div class="sub header"><span class="fwb">Phone:</span> (860) 575-6950</div>
                <div class="sub header">
                  <p class="small-meta fsi dim-el m-a-0 team-only">Owned by <span class="fwb">you</span></p>
                  <small>
                    <a id="edit-lead-header" data-remote="true" href="/leads/2859/edit_lead_header">Quick Edit</a>
                  </small>
                </div><!-- /.sub header -->
              </div><!-- /.content -->
            </h1>
          </div><!--demo-->
        </div><!--demo-->
      </div><!--segemnt-->
        <div class="ui cards">
          <div class="float right card">
            <div class="content">
              <div class="right floated mini" ><i class="circular yellow large eye icon"></i></div>
              <div class="header">
                We recommend Drip Campaigns for you
              </div>
              <div class="meta">
                201 Pro Marketiing
              </div>
              <div class="description">
                Did you know it takes 7 'touches' to connect to you a lead?
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button">Start now</div>
                <div class="ui basic red button">Remind me</div>
              </div>
            </div>
          </div><!--card-->
        </div><!--cards-->
      </div><!--segemnt-->
    </div><!--segemnts-->
    <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!--segment-->
