<thead class="hide-mobile-and-down">
  <tr>
    <th class="collapsing">
      <div class="ui fitted checkbox">
        <!-- >
          <input type="checkbox">
          <label></label>
        -->
      </div>
    </th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
