<% content_for(:title, "Upload Contacts") %>
<% breadcrumb(:upload_contacts) %>
<%= show_alert_if_processing_csv_file(current_user) %>

<%= page_header(
  primary_name: "Upload Contacts",
  secondary_name: "Contacts",
  secondary_path: contacts_path
) %>

<div class="ui main container">
  <%= render(partial: "upload_contacts") %>
</div>
