<form class="ui form max-width-1200">
   <div class="field">
      <label>Title</label>
       <input type="text" name="event_name" />
   </div>
   <div class="ui hidden divider"></div><!-- /.ui hidden divider -->
    <h4 class="ui dividing header">Date and Time</h4> <div class="field">
    <div class="ui radio checkbox">
        <label>All Day?</label>
        <input type="radio" name="radio" checked="checked">
    </div>
    <div class="four fields">
        <div class="field">
          <label>Start Date</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="field">
          <label>Start Time</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="field">
          <label>End Date</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="field">
          <label>End Time</label>
          <input type="text" />
        </div><!-- /.field -->
    </div><!-- /.four fields -->
    <div class="ui hidden divider"></div><!-- /.ui hidden divider -->
    <h4 class="ui dividing header">Invite Others</h4>
    <div class="field">
      <label>Email Address</label>
      <input type="text" />
    </div><!-- /.field -->

    <div class="ui hidden divider"></div><!-- /.ui hidden divider -->
    <h4 class="ui dividing header">Further Details</h4>
    <div class="field">
      <label>Location</label>
      <input type="text" />
    </div><!-- /.field -->
    <div class="field">
      <label>Description</label>
      <textarea type="text" ></textarea>
    </div><!-- /.field -->
    <div class="ui primary button">Save</div>
    <div class="ui basic button">Cancel</div>
 </form>






