<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
         Calendar
        </h1>
         <h1 class="ui header">Add Event</h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <%= render(partial: "designs/calendar/form") %>
</div><!-- /.ui main container -->
