  <form class="ui form max-width-600">
    <h4 class="ui dividing header">Send a Text</h4>
    <div class="field">
      <label>Mobile Phone</label>
    </div>
    <div class="field">
      <select name="skills" multiple="" class="ui fluid dropdown">
          <option value="">860-575-6950</option>
              <option value="860-575-5306">860-575-5306</option>
              <option value="860-575-5307">860-575-5307</option>
              <option value="860-575-6950">860-575-6950</option>
      </select>
    </div>
    <div class="field">
      <label>Short Text</label>
      <textarea rows="3"></textarea>
    </div><!-- /.field -->
    <div class="ui floating dropdown labeled search icon button">
  <i class="world icon"></i>
  <span class="text">Use Template</span>
  <div class="menu">
    <div class="item">Buyer - New</div>
    <div class="item">Buyer - Followup</div>
    <div class="item">Seller - New</div>
    <div class="item">Seller - Followup</div>
    <div class="item">General - Birthday</div>
    <div class="item">General - It's been awhile</div>
    <div class="item">General - Lunch/Dinner?</div>
  </div>
</div>
    <div class="ui primary ui right floated button">Send Text</div>
  </form><!-- /.ui form -->
