<div class="ui basic segment no-border m-a-0">
  <h2 class="ui dividing header"><%= "Text Phone Numbers" %></h2>
  <button class="ui button">Setup or Change Text Phone Number</button>
  </br>
  ********************************************************
  <div>
    On Click of Change Phone Number button, the following JS or Modal pops up
  </div>
  *************************************************************
  </br>

  <form class="ui form max-width-600">
    <h3 class="ui dividing header">Change Phone Number</h3>
    <h4> Enter your area code (up to 3 digits)</h4><p> Currently we support US and Canada numbers</p>
    <div class="two fields">
      <div class="four wide field">
        <input type="text" name="areacode" maxlength="3" placeholder="Area Code">
      </div>
      <div class="field">
        <div class="ui primary button">Find available numbers</div>
      </div>
    </div><!-- /.field -->

  *********************************************************************
  On Click of Change Phone Number, the following MODAL pops up
  *********************************************************************
    <div class="ui form">
        <h3>Please select a new phone number</h3>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2" checked="checked">
            <label>203-555-1231 - Groton, CT</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label>203-555-9999 - Milford, CT</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label>203-555-6677 - Middletown, CT</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label>203-555-6677 - Guilford, CT</label>
          </div>
        </div>
    </div>
    <h4 >Please note changing your phone number will stop your old number from working.</h4>
    <div class="ui primary button">Change Phone Number</div>
    <div class="ui basic button">Cancel</div>
  </form><!-- /.ui form -->
</div>

