<div class="ui main container">
  <form class="ui form max-width-600">
    <h4 class="ui dividing header">Create a Text Template</h4>
    <div class="field">
      <label>Template Name</label>
    <div class="ui input">
      <input type="text" placeholder="Template Name">
    </div>
  </div>
    <div class="field">
      <label>Text Message</label>
      <textarea rows="5"></textarea>
    </div><!-- /.field -->
    <div class="two fields">
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Contact Fields</option>
          <option value="0">First name</option>
          <option value="1">Title</option>
          <option value="2">Company</option>
          <option value="3">Email address</option>
          <option value="4">Phone number</option>
        </select>
      </div>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Share this text template with my team</label>
    </div>
    <div class="ui basic right floated button">Cancel</div>
    <div class="ui primary ui right floated button">Save</div>
  </form><!-- /.ui form -->
</div>
