<div class="main ui container full-width-container">
  <div class="ui horizontal segments no-border m-a-0 settings-segments">
    <div class="ui basic vertical segment no-border settings-segments__menu">
      <%= render(partial: "shared/settings/menu_sidebar") %>
    </div><!-- /.ui segment -->
    <div class="ui basic vertical segment no-border">
      <%= render(partial: "designs/sms_messaging/text_phone_number") %>
      <%= render(partial: "designs/sms_messaging/sms_message_templates") %>
    </div><!-- /.ui segment -->
  </div><!-- /.ui horizontal segments -->
</div><!-- /.main ui container -->
