<table class="ui basic table index-page-table">
  <%= render(partial: "leads/table/head", locals: { leads: leads }) %>
  <%= render(partial: "leads/table/body", locals: { leads: leads }) %>
  <%= render(partial: "leads/table/foot", locals: { leads: leads }) %>
</table>
