<thead class="hide-mobile-and-down">
  <tr>
    <th class="collapsing">
      <div class="ui fitted checkbox" data-ui-behavior="select-all-checkbox-popover" data-variation="inverted">
        <input type="checkbox" id="items-checkbox-select-all">
        <label></label>
      </div>
    </th>
    <th>Name</th>
    <th></th>
    <th>Actions</th>
  </tr>
</thead>
