<% content_for(:title, "Create a new account") %>
<div class="ui main container full-width-container">
  <div class="ui center aligned grid">
    <h1 class="ui center aligned header">
      <div class="content">
        Welcome to AgentBright, Patrick!  </br><h2 class="ui grey header">Here's how to get started in just 20 minutes.</h4>
      </div>
    </h1>
  </div>
  <div class="ten wide wide column">
    <div class="ui center floated segment">
      <div class="ui ordered vertical steps">
        <div class="active step">
          <div class="content">
            <div class="title">Learn the basics of AgentBright</div>
            <div class="description">Watch our 3 minute getting started video.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Contacts Upload</div>
            <div class="description">Kickstarts the value of AgentBright.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Upload Photo</div>
            <div class="description">Used in Marketing</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Business Information</div>
            <div class="description">Sets up your basic communications.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Set Goals and Commissions</div>
            <div class="description">Get focus on your time and money.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Rank Contacts</div>
            <div class="description">Nurture and strengthen your relationships.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Sync your Email</div>
            <div class="description">See and send email to you Contacts, Leads and Clients.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title ">Add your first Client</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.ui main container -->
