<li class="clearfix">
  <span class="float-left">
    <%= link_to email_path do %>
      <span class="fwb">Follow up</span> - Hi John, I was wondering...
    <% end %>
  </span>
  <span class="float-right">
    Oct 14
  </span>
</li>