<form action="">
  <h3>Reply</h3>
  <div class="form-group">
    <textarea class="form-control" name="textarea1" rows="7" placeholder="Compose Message..."></textarea>
  </div><!-- /form-group -->
  <button class="btn btn-primary btn-embossed b0
          btn-loading', value: "Save",
          "data-loading-text" => "Sending...", remote: true %>">
    Send
  </button>
</form>
