<!--START PAGE CONTENT-->
<div class="row header">
  <div class="col-sm-12">
    <h1 class="inline-block">
      Email
    </h1>
  </div>
</div>

<div class="row below24">
  <div class="col-xs-12">
    <button class="btn btn-primary btn-embossed">Archive</button>
    <button class="btn btn-primary btn-embossed">Delete</button>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row below12">
  <div class="col-xs-12">
    <h3>Subject: Follow Up</h3>
    <h4 class="fwl">From: Ralph Smith</h4>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row sub-section">
  <div class="col-xs-12">
    <p>
      Hi John,<br />
      I was wondering if you had anything on the market with geothermal heating/cooling.<br /><br />
      Thanks,<br />
      Ralph
    </p>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-xs-12">
    <%= render(partial: "emails/email_reply_form") %>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->