<style>
  body {
    background-color: #eee;
  }
  .wrap {
    background-color: #eee;
  }
  .checkbox .icons .first-icon, .checkbox .icons .second-icon {
    background-color: #eee;
  }
</style>
<div class="agentbright-logo">
  <a class="block"></a>
</div>