<div class="ui stackable grid container ab-onboarding-wizard">
  <div class="row">
    <div class="six wide column hide-mobile-and-down">
      <%= render(partial: "profile_steps/side_bar") %>
    </div>
    <div class="ten wide column m-t">
      <%= yield %>
    </div><!-- /.ten.wide.column -->
  </div><!-- /.row -->
</div><!-- /.ui.grid.container -->
