<div class="ui raised segment">
  <div class="column">
    <a class="ui orange ribbon label"><h2>Here's what Agents are saying ...</h2></a>
    <div class="ui center aligned basic segment">
    <h3 class="ui dividing header"></h3>
      <div class="comment">
        <div class="content">
          <div class="grey text">
           <h2><em> "Incredibly simple to use. Has only the features I need.  Gives me real peace of mind."</em></h2>
          </div>
          <div class="fwb"><br />-Maureen</div>
          <div class="metadata">
            <span class="date">member since 2014</span>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
    </div><!-- /.segment-->
    <div class="ui relaxed divided list">
      <div class="item">
        <i class="big mail icon"></i>
        <div class="content">
          <a class="header">Marketing</a>
          <div class="description">
            <p>Send email campaigns and emails quickly.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <i class="big users icon"></i>
        <div class="content">
          <a class="header">Networking</a>
          <div class="description">
            <p>Build relationships with contacts.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <i class="big mobile icon"></i>
        <div class="content">
          <a class="header">Managing</a>
          <div class="description">
            <p>Manage leads and clients on all your devices.</p>
          </div>
        </div>
      </div>
    </div><!-- /.list-->
  </div><!-- /.column-->
</div><!-- /.segment-->
