<div class="ui raised segment">
  <a class="ui orange ribbon label">Try us for free</a>
  <div class="column">
    <div class="ui center aligned inverted segment">
      <h2 class="ui orange header">
        Free 2-week trial
        <div class="ui center aligned grey sub header">$29.99 Monthly</div>
      </h2>
    </div><!-- /.segment-->
    <div class="ui relaxed divided list">
      <div class="header"> Includes:</div>
      <div class="item">
        <i class="big mail icon"></i>
        <div class="content">
          <a class="header">Marketing</a>
          <div class="description">
            <p>Send Email Campaigns and Emails quickly.</p>
          </div>
        </div>
      </div>

      <div class="item">
        <i class="big users icon"></i>
        <div class="content">
          <a class="header">Networking</a>
          <div class="description">
            <p>Build relationships with Contacts.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <i class="big mobile icon"></i>
        <div class="content">
          <a class="header">Managing</a>
          <div class="description">
            <p>Manage Leads and Clients on the iphone or desktop..</p>
          </div>
        </div>
      </div>
    </div><!-- /.list-->
  </div><!-- /.column-->
</div><!-- /.segment-->

