<div class="ui raised segment">
  <a class="ui orange ribbon label"><h1>Here's what Agents are saying ...</h1></a>
  <div class="column">
    <div class="ui center aligned basic segment">
    <h3 class="ui dividing header"></h3>
      <div class="comment">
        <div class="content">
          <div class="grey text">
           <em><h2> "Until I found AgentBright, I spent so much money and time trying to get a handle on managing my Real Estate business.</h2>
           <p></p>
          <h2><strong> I took the AgentBright Assessment and in just 15 minutes, I got my 'mojo' back.</strong> It also helped me get a clear action plan, clarity on my goals and laser focus on what I needed to fix in managing my business."</h2></em>
          </div>
          <a class="author">Maureen</a><a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
          </a>
          <div class="metadata">
            <span class="date">member since 2014</span>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
          With just 15 minutes of your time, find out ....
    </div><!-- /.segment-->

    <div class="ui relaxed divided list">
      <div class="item">
        <i class="big bullseye icon"></i>
        <div class="content">
          <a class="header">Goals</a>
          <div class="ui bulleted list">
            <div class="item">How much money do you want to make?</div>
            <div class="item">Based on your time, are your goals achieveable?</div><!-- /.ui item -->
            <div class="item">What do you need to be doing on a day-2-day basis?</div><!-- /.ui item -->
          </div>
        </div>
      </div>
      <div class="item">
        <i class="big law icon"></i>
        <div class="content">
          <a class="header">Business Healthcheck</a>
          <div class="ui bulleted list">
            <div class="item">How good is your Brand?</div>
            <div class="item">Are you building and nurturing relationships?</div><!-- /.ui item -->
            <div class="item">Are you making the most of Personal and Mass Marketing?</div><!-- /.ui item -->
            <div class="item">Are you converting Leads efficiently?</div><!-- /.ui item -->
            <div class="item">Are you managing Clients effectively?</div><!-- /.ui item -->
          </div>
        </div>
      </div>
    </div><!-- /.list-->
  </div><!-- /.column-->
</div><!-- /.segment-->
