<%= simple_form_for(@lead, remote: true) do |f| %>
  <%= hidden_field_tag(:inline_form, "sl_seller_preferences") %>
  <%= f.input(:timeframe, collection: Lead::TIMEFRAMES, include_blank: false) %>
  <%= f.button(
    :submit,
    value: "Save",
    "data-disable-with": "Saving...",
    remote: true
  ) %>
  <a data-cancel-section="#seller-preferences-section" class="ui basic button">Cancel</a>
<% end %>
