<table class="ui basic table index-page-table">
  <%= render(partial: "mktcampaigns/table/head", locals: { mktcampaigns: mktcampaigns }) %>
  <%= render(partial: "mktcampaigns/table/body", locals: { mktcampaigns: mktcampaigns }) %>
  <%= render(partial: "mktcampaigns/table/foot", locals: { mktcampaigns: mktcampaigns }) %>
</table>
