<thead>
  <tr>
    <th class="no-sort collapsing">
      <div class="ui fitted checkbox" data-ui-behavior="select-all-checkbox-popover" data-variation="inverted">
        <input type="checkbox" id="items-checkbox-select-all">
        <label></label>
      </div>
    </th>
    <th class="">Name</th>
    <th class="no-sort">Action</th>
  </tr>
</thead>
