<% content_for(:title, "All Completed Tasks") %>

<%= page_header(
  primary_name: "Tasks",
  primary_path: tasks_path,
  secondary_name: "All Completed Tasks"
) %>

<div class="ui main container">
  <% if !@tasks_grouped_by_day.empty? %>
    <% @tasks_grouped_by_day.each do |day, tasks| %>
      <h4 class="ui dividing header"><%= day %></h4>
      <section class="completed_todos">
        <article class="todolist show-buckets" data-task-section="task_list">
          <ul>
            <%= render(
              partial: "tasks/completed_task",
              collection: tasks,
              as: :task
            ) %>
          </ul>
        </article>
      </section>
    <% end %>
  <% end %>
</div><!-- /.ui main container -->
