<div class="ui warning message" style="display:block">
  Can't deliver email campaign for now because your email address is not confirmed yet.
  To resend your confirmation email <%= link_to("click here", send_email_confirmation_notification_path) %>.
</div>
