<div class="ui info message">
  <div class="header">
    From email address: '<%= current_user.email %>'
  </div>
  <br/>
  To ensure delivery, we will change your from address to <b><%= @user_altered_email  %></b>
</div>
