<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          New
          <div class="sub header">Form to add a new record</div>
        </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <%= render(partial: "designs/templates/form") %>
</div><!-- /.ui main container -->
