<div class="ui main container full-width-container">
  <h1 class="ui orange center aligned header">
    <div class="content">
      Welcome to AgentBright </br><h2 class="ui grey header">Get ready to take your Real Estate Business to a new level!</h2>
    </div><!-- /.content -->
  </h1>
  <div class="ui raised very padded text container segment">
    <div class="ui embed" data-ui-behavior="embed" data-source="youtube" data-id="LJfcMaJwt14" data-placeholder="https://semantic-ui.com/images/image-16by9.png"></div>
  </div><!-- /.segment -->
  <div class="ui grey inverted center aligned segment">
    <button class="big ui positive button">
      Remind me later
    </button>
    <button class="big ui primary button">
      No Thanks
    </button>
    <h2><strong>Our passion is helping Real Estate Agents be their best!</strong></h2>
  </div><!-- /.segment -->
</div><!-- /.ui main container -->

<script>
$('[data-ui-behavior=embed]').embed();
</script>

