<% breadcrumb(:add_properties, @lead) %>
<%= page_header(
  primary_name: "Properties",
  secondary_name: "Add New Buyer Property"
) %>
<div class="ui main container">
  <%= render(partial: "form") %>
</div><!-- /.ui main container -->
