<div class="item">
  <div class="header">
    <%= title %>
  </div><!-- /.header -->
  <div class="content">
    <div class="ui indicating progress" data-ui-behavior="progress" data-value="<%= counter.to_s %>" data-total="<%= goal.to_s %>">
      <div class="bar">
        <div class="progress"></div>
      </div>
    </div>
  </div><!-- /.content -->
</div><!-- /.item -->
