<h2 class="ui dividing header">
  Automatic Lead Forwarding
  <%= display_auto_lead_forward_status(@lead_setting_view_service) %>
</h2>
<p>
  <%= raw @lead_setting_view_service.lead_forward_status_information if @lead_setting.forward_lead_to_group? %>
</p>
<%= link_to(
  @lead_setting_view_service.display_label_for_auto_lead_forward_action,
  toggle_forward_to_lead_group_user_settings_lead_settings_path,
  class: "ui button",
  remote: true
) %>
