<div class="field">
  <div class="ui radio checkbox">
    <%= radio_button_tag :phone_number, number.phone_number, false %>
    <%= label_tag number.phone_number, "#{number.phone_number} - #{number.locality}" %>
  </div>
</div>
