  <form class="ui form max-width-600">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input type="text" />
      </div><!-- /.field -->
      <div class="field">
        <label>Last Name</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.two fields -->
    <div class="field">
      <div class="field">
        <label>Email Address</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.field -->
    <div class="field">
      <div class="field">
        <label>Phone</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.field -->
    <div class="field">
      <label>Office</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="status">
        <i class="dropdown icon"></i>
        <div class="default text">Home Office</div>
        <div class="menu">
          <div class="item" data-value="1">Madison</div>
          <div class="item" data-value="0">Guilford</div>
          <div class="item" data-value="0">Old Saybrook</div>
        </div><!-- /.menu -->
      </div><!-- /.dropdown -->
    </div><!-- /.field -->
    <div class="ui primary button">Send Invite</div>
    <div class="ui basic button">Cancel</div>
  </form><!-- /.ui form -->
