<table class="ui basic table index-page-table">
  <%= render(partial: "announcements/table/head", locals: { announcements: announcements }) %>
  <%= render(partial: "announcements/table/body", locals: { announcements: announcements }) %>
  <%= render(partial: "announcements/table/foot", locals: { announcements: announcements }) %>
</table>
