<div class="ui basic vertical segment">
  <h4 class="ui horizontal divider header">
    Progress:
  </h4>
  <div class="ui large indicating progress" data-ui-behavior="assessment_progress" data-value="<%= data_value %>" data-total="<%= data_total %>">
    <div class="bar">
      <div class="progress"></div>
    </div>
  </div>
</div><!-- /.ui basic vertical segment -->
