<div data-behavior="gauge-meter"
     class="GaugeMeter main-gauge"
     id="PreviewGaugeMeter_2"
     data-percent="<%= data_percent %>"
     data-size="100"
     data-back="RGBa(0,0,0,.1)"
     data-animate_gauge_colors="1"
     data-animate_text_colors="1"
     data-width="15"
     data-style="Arch"
     data-label_color="#FFF"
     data-animationstep="0">
</div>
