<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          Add New Agent Account
          <div class="sub header">Broker</div>
        </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <%= render(partial: "broker/agents/form") %>
</div><!-- /.ui main container -->
