<table class="ui basic table index-page-table">
  <%= render(partial: "print_campaigns/table/head", locals: { print_campaigns: print_campaigns }) %>
  <%= render(partial: "print_campaigns/table/body", locals: { print_campaigns: print_campaigns }) %>
  <%= render(partial: "print_campaigns/table/foot", locals: { print_campaigns: print_campaigns }) %>
</table>
