<!-- NOT BEING USED -->
<div class="card notification-card recent-activity-card with-actions heads-up">
  <div class="card-avatar">
    <i class="call square icon"></i>
  </div><!-- /.card-avatar -->
  <div class="card-content">
    <a href="#" class="not-blue-link">
      <h4>
        <span class="fwb">Call:</span>
        Called and left message
      </h4>
    </a>
    <div class="headline">6 days ago</div>
    <p>
      John Smith, Mar 27
    </p>
  </div><!-- /.card-content -->
</div><!-- /.card notification-card -->
