<div class="row header">
  <div class="col-xs-12">
    <h1>
      <a href="#">Beth Boring</a>
    </h1>
    <h2>Email Campaigns</h2>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row header -->

<div class="row sub-section">
  <div class="col-xs-12">
      <div class="stat-block alignc col-sm-4">
        <h2 class="nomargin">
          4
        </h2>
        <p class="fwb">
          <span class="">Campaigns Sent</span>
        </p>
      </div><!-- /stat-block.col-sm-4 -->
      <div class="stat-block alignc col-sm-4">
        <h2 class="nomargin">
          50%
        </h2>
        <p class="fwb">
          <span class="">Opened</span>
        </p>
      </div><!-- /stat-block.col-sm-4 -->
      <div class="stat-block alignc col-sm-4">
        <h2 class="nomargin">
          25%
        </h2>
        <p class="fwb">
          <span class="">Clicked</span>
        </p>
      </div><!-- /stat-block.col-sm-4 -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row sub-section -->

<div class="row sub-section">
  <div class="col-xs-12">
    <table class="ab-table">
      <thead>
        <tr>
          <th width="25%">Sent</th>
          <th>Campaign</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1/5/15<br>
            3:34pm
          </td>
          <td class="breakword">
            <a href="#">Open House - 5 Main St.</a><br>
            bethboring@gmail.com
          </td>
        </tr>
        <tr>
          <td>
            12/25/14<br>
            9:15am
          </td>
          <td class="breakword">
            <a href="#">Christmas Greetings</a><br>
            bethboring@gmail.com
          </td>
        </tr>
        <tr>
          <td>
            12/15/14<br>
            12:05pm
          </td>
          <td class="breakword">
            <a href="#">December 2014 Newsletter</a><br>
            bethboring@gmail.com
          </td>
        </tr>
        <tr>
          <td>
            11/28/14<br>
            10:00am
          </td>
          <td class="breakword">
            <a href="#">December 2014 Monthly Local Events</a><br>
            beth.boring@msn.com
          </td>
        </tr>
      </tbody>
    </table><!-- /.ab-table -->

  </div><!-- /.col-xs-12 -->
</div><!-- /.row sub-section -->