 <!--HEADER-->
<%= page_header(
  primary_name: "Marketing Campaigns",
  primary_path: mktcampaigns_path,
  secondary_name: "Edit Marketing Campaig"
) %>

<div class="ui main container">
  <%= render 'form' %>
</div><!-- /.ui main container -->


