<% if cards.count.nonzero? %>
  <div class="column">
    <div class="ui positive message">
      <div class="ui basic vertical segment">
        <h1 class="ui dividing header">
          General Management
          <div class="sub header m-y-sm">
            Managing every stage of your pipeline will keep it flowing steadily, overcoming the ups and downs of the seasonal real estate market.
          </div><!-- /.sub header -->
        </h1><!-- /.ui dividing header -->
      </div><!-- /.ui basic vertical segment -->
      <div class="ui three doubling stackable cards">
        <% cards.each do |card| %>
          <%= render partial: "coaching/card", locals: { card: card } %>
        <% end %>
      </div><!-- /.ui cards -->
    </div><!-- /.ui message -->
  </div><!-- /.column -->
<% end %>
