<%= page_header(
  primary_name: "ActionPlan: Appointment Missed",
  primary_path: templates_index_path,
  secondary_name: "ActionPlans",
  add_button_text1: "Edit",
  add_button_path1: templates_new_path,
  add_button_text: "Delete",
  add_button_path: templates_new_path
  #add_button_path: drip_campaigns_new_path
) %>




<div class="main ui container full-width-container">
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Steps</a>
    <a class="item" data-tab="second">Contacts</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    <div class="ui vertical basic segment">
      <div class="ui grid">
        <div class="sixteen wide column sticky-black-menu-container" id="select-menu-container">
          <div class="ui segments">
            <div class="ui segment p-a-0">
              <table class="ui sortable single line table" data-ui-behavior="sortable-table">
                <thead>
                  <tr>
                    <th>Order</th>
                    <th>Trigger</th>
                    <th class="">Action</th>
                    <th class="">Scheduled</th>
                    <th class="">Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-sort-value="6">
                      1
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Add to action plan
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Send message using Appointment missed 1 template
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td data-sort-value="6">
                      8
                    </td>
                    <td>
                      45
                    </td>
                  </tr>
                  <tr>
                    <td data-sort-value="6">
                      1
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Add to action plan
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Send message using Appointment missed 1 template
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td data-sort-value="6">
                      8
                    </td>
                    <td>
                      45
                    </td>
                  </tr>
                  <tr>
                    <td data-sort-value="6">
                      1
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Add to action plan
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Send message using Appointment missed 1 template
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td data-sort-value="6">
                      8
                    </td>
                    <td>
                      45
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.ui segment -->
          </div><!-- /.ui segments -->
        </div><!-- /.column -->
      </div><!-- /.ui centered grid -->
    </div>
  </div><!-- /.ui vertical basic segment -->
  <div class="ui bottom attached tab segment" data-tab="second">
    <div class="ui vertical basic segment">
      <div class="ui grid">
        <div class="sixteen wide column sticky-black-menu-container" id="select-menu-container">

            <button class="ui right floated button">Add Contact</button>
            <h2 class="ui header">Contacts:  3</h2>
          <div class="ui segment p-a-0">
              <table class="ui sortable single line table" data-ui-behavior="sortable-table">
                <thead>
                  <tr>
                    <th colspan=2>Name</th>
                    <th class="">Added</th>
                    <th class="collapsing">Last step</th>
                    <th class="">Last step on</th>
                    <th class="">Next step scheduled</th>
                    <th class="collapsing center-aligned">Open</th>
                    <th class="collapsing">Clicks</th>
                    <th class="collapsing">Replied</th>
                    <th class="">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>
                      <img class="ui mini rounded image" src="http://semantic-ui.com/images/avatar2/small/lindsay.png">
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Patrick O'Grady
                            <a class="sub header" href="mailto:lbungenstock@interior.home.gov">patrickogrady@gmail.com</a><!-- /.sub header -->
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      June 1, 2018
                    </td>
                    <td class="center aligned">
                      <a class="ui gray centered circular label">2</a>
                    </td>
                    <td data-sort-value="6">
                      June 1, 2018 - 4pm
                    </td>
                    <td>June 3, 2018 - 4pm
                    </td>
                    <td class="center aligned">
                      3
                    </td>
                    <td class="center aligned">
                      1
                    </td>
                    <td class="center aligned">
                      -
                    </td>
                    <td>
                      Active
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img class="ui mini rounded image" src="http://semantic-ui.com/images/avatar2/small/lindsay.png">
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            John Smith
                            <a class="sub header" href="mailto:john@example.com">john@example.com</a><!-- /.sub header -->
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      June 1, 2018
                    </td>
                    <td class="center aligned">
                      <a class="ui gray centered circular label">2</a>
                    </td>
                    <td data-sort-value="6">
                      June 1, 2018 - 4pm
                    </td>
                    <td>June 3, 2018 - 4pm
                    </td>
                    <td class="center aligned">
                      4
                    </td>
                    <td class="center aligned">
                      1
                    </td>
                    <td class="center aligned">
                      -
                    </td>
                    <td>
                      Exited: Completed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img class="ui mini rounded image" src="http://semantic-ui.com/images/avatar2/small/lindsay.png">
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            Lindsay Bungenstock
                            <a class="sub header" href="mailto:lbungenstock@interior.home.gov">lbungenstock@interior.home.gov</a><!-- /.sub header -->
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      June 1, 2018
                    </td>
                    <td class="center aligned">
                      <a class="ui gray centered circular label">2</a>
                    </td>
                    <td data-sort-value="6">
                      June 1, 2018 - 4pm
                    </td>
                    <td>June 3, 2018 - 4pm
                    </td>
                    <td class="center aligned">
                      1
                    </td>
                    <td class="center aligned">
                      1
                    </td>
                    <td class="center aligned">
                      -
                    </td>
                    <td>
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div><!-- /.column -->
      </div><!-- /.ui centered grid -->
    </div>
  </div><!-- /.ui vertical basic segment -->
</div><!-- /.main ui container -->

<script>

  // Initialize regular dropdowns
  $('[data-ui-behavior=dropdown]')
    .dropdown()
  ;

  // Initialize Semantic UI dropdowns
  $('[data-ui-behavior=checkbox]')
    .checkbox()
  ;
  $('.menu .item')
    .tab()
  ;

</script>
